<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About me</a>
      <a href="/blog">Blog</a>
    </nav>
    <h1>About me</h1>
    <h2>... ¡y mi nuevo sitio en Astro!</h2>
    <p>Estoy trabajando en este nuevo sitio web, perdon por el desorden.</p>
  </body>
</html>
