<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <h1>My site Astro</h1>
    <h2>Mi blog de astro aprendizaje</h2>
    <p>Aquí publicare temas de electronica sobre mi aprendizaje</p>
  </body>
</html>
